Repository dimaslanjaka/hexo-adsense: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

update yarn
  .yarn/install-state.gz
Due: none

lowercase readme
  package.json
  readme.md
Due: prettier --list-different --write

ignore yarn gz
  .yarn/install-state.gz
Due: none

eslint --fix
  package.json
  packages/hexo-extend-injector2/index.js
  packages/hexo-extend-injector2/lib/bundle/css-bundle.js
  packages/hexo-extend-injector2/lib/bundle/css-generator.js
  packages/hexo-extend-injector2/lib/bundle/handle-data-pre.js
  packages/hexo-extend-injector2/lib/bundle/js-bundle.js
  packages/hexo-extend-injector2/lib/bundle/js-generator.js
  packages/hexo-extend-injector2/lib/default-config.js
  packages/hexo-extend-injector2/lib/filter.js
  packages/hexo-extend-injector2/lib/helper/injector.js
  packages/hexo-extend-injector2/lib/helper/next-inject.js
  packages/hexo-extend-injector2/lib/injector.js
  packages/hexo-extend-injector2/lib/load.js
  packages/hexo-extend-injector2/lib/next-point.js
  packages/hexo-extend-injector2/lib/next.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

eslint --fix
  package.json
  packages/hexo-cli-extras/index.js
  packages/hexo-cli-extras/lib/edit.js
  packages/hexo-cli-extras/lib/env.js
  packages/hexo-cli-extras/lib/extensions.js
  packages/hexo-cli-extras/lib/integrate.js
  packages/hexo-cli-extras/lib/isolate.js
  packages/hexo-cli-extras/lib/remove.js
  packages/hexo-cli-extras/lib/rename.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

drop CI
  .github/workflows/build-lib.yml.txt
Due: none

fix(docs): invalid hexo-adsense path
  gulpfile.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

feat: cleaner CI
  .github/workflows/clean-caches.yml
  .github/workflows/clean-logs.yml
Due: prettier --list-different --write

build js using browserify
  .gitignore
  gulpfile.js
  nodemon.json
  package.json
  release/hexo-adsense-2.0.1.tgz
  release/metadata.json
  release/readme.md
  source/adblock.js
  source/article-ads.js
  source/article-ads.old.js
  source/https.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

chore: register middleware source assets, instead of using direct read of assets
  nodemon.json
  package.json
  release/hexo-adsense-2.0.1.tgz
  release/hexo-adsense.tgz
  release/metadata.json
  release/readme.md
  src/article-ads.ts
  src/index.ts
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

feat: assets hash url
  src/article-ads.ts
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

fix: dont fill pre code inside `<td>`
  release/hexo-adsense-2.0.1.tgz
  release/hexo-adsense.tgz
  release/metadata.json
  release/readme.md
  source/article-ads.js
  test/serve.cjs
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

feat: `[hexo-adsense-fill]` selector applied to whole document
  release/hexo-adsense-2.0.1.tgz
  release/hexo-adsense.tgz
  release/metadata.json
  release/readme.md
  source/article-ads.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

feat: export type DefaultConfig
  src/config.ts
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

drop unused codes
  src/article-ads.ts
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

feat: customized `hexo-adsense-fill`
  readme.md
  release/hexo-adsense-2.0.1.tgz
  release/hexo-adsense.tgz
  release/metadata.json
  release/readme.md
  source/article-ads.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

fix: custom hexo-adsense-fill replacement
  gulpfile.js
  release/hexo-adsense-2.0.1.tgz
  release/hexo-adsense.tgz
  release/metadata.json
  release/readme.md
  source/article-ads.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

fix: custom hexo-adsense-fill replacement
  release/hexo-adsense-2.0.1.tgz
  release/hexo-adsense.tgz
  release/metadata.json
  release/readme.md
Due: prettier --list-different --write

update custom layout style
  release/readme.md
Due: none

refactor: remove prepack script from package.json
  package-switch.cjs
  package.json
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

fix: add error handling for article selection in newMethod
  source/article-ads.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

fix(TS2556): A spread argument must either have a tuple type or be passed to a rest parameter.
  src/logger.ts
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

fix: update StoreFunction import path for compatibility
  src/index.ts
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

fix: add declarationDir to tsconfig for type definitions output
  tsconfig.json
Due: prettier --list-different --write

feat: add type definitions for hexo-log module
  src/types/hexo-log.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

fix: update import assertion syntax for package.json
  gulpfile.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

refactor: remove unused declarations and clean up rollup configuration
  rollup.config.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix

chore(release): bump version to 2.0.2
  package.json
  release/hexo-adsense-2.0.2.tgz
  release/metadata.json
Due: prettier --list-different --write

refactor: remove workspaces configuration from package.json
  package.json
Due: prettier --list-different --write

refactor: update terminal environment settings and profiles in VSCode configuration
  .vscode/settings.json
Due: prettier --list-different --write

fix(article-ads): use bracket indexing instead of .item to avoid TypeError
  release/hexo-adsense-2.0.2.tgz
  release/hexo-adsense.tgz
  release/metadata.json
  release/readme.md
  source/article-ads.js
Due: set ESLINT_USE_FLAT_CONFIG=true && eslint --fix, prettier --list-different --write

fix(workflows): use GITHUB_TOKEN as fallback for ACCESS_TOKEN in cache and log workflows
  .github/workflows/clean-caches.yml
  .github/workflows/clean-logs.yml
Due: prettier --list-different --write

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=true && eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
